@model UserView
<form asp-action="Cadastro">
    <fieldset>
        <legend>Cadastrar Login</legend>
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                    {

                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">×</a>
                            <h5 class="alert-heading">Atenção</h5>
                            @Html.ValidationSummary(true)
                        </div>

                    }
                    <div class="form-group">
                        <input class="form-control" asp-for="Nome" type="text" placeholder="Nome Completo" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" asp-for="Email" type="email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="senha" asp-for="Senha" type="password" placeholder="Senha" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="repitasenha" type="password" placeholder="Repita a senha" />
                    </div>
                    <div class="form-group">
                        <select class="form-control" asp-for="Setor">
                            <option>Setor</option>
                            <option>Atendente</option>
                            <option>Medico</option>
                        </select>
                    </div>
                    <fieldset>
                        <legend>Dados de Endereço</legend>
                        <div class="form-group">
                            <label asp-for="Cep" class="control-label"></label>
                            <input asp-for="Cep" id="cep" class="form-control" />
                        </div>
                        <button type="button" onclick="BuscarCep()" class="btn btn-primary">Buscar CEP</button>
                        <div class="form-group">
                            <label asp-for="Uf" class="control-label"></label>
                            <input asp-for="Uf" readonly id="uf" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Cidade" class="control-label"></label>
                            <input asp-for="Cidade" readonly id="cidade" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" readonly id="bairro" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="TipoLogradouro" class="control-label"></label>
                            <input asp-for="TipoLogradouro" readonly id="tipoLogradouro" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Logradouro" class="control-label"></label>
                            <input asp-for="Logradouro" readonly id="logradouro" class="form-control" />
                        </div>
                    </fieldset>

                    <fieldset>
                        
                    </fieldset>

                    <script>
                        var txtCep = document.getElementById("cep");
                        var txtUf = document.getElementById("uf");
                        var txtCidade = document.getElementById("cidade");
                        var txtBairro = document.getElementById("bairro");
                        var txtTipoLogradouro = document.getElementById("tipoLogradouro");
                        var txtLogradouro = document.getElementById("logradouro");

                        function BuscarCep() {
                            var url = "http://republicavirtual.com.br/web_cep.php?cep=" + txtCep.value + "&formato=json";

                            fetch(url, { method: "GET" })
                                .then(response => response.json())
                                .then(json => {
                                    txtBairro.value = json.bairro;
                                    txtCidade.value = json.cidade;
                                    txtUf.value = json.uf;
                                    txtTipoLogradouro.value = json.tipo_logradouro;
                                    txtLogradouro.value = json.logradouro;
                                })
                                .catch(error => console.log(error));
                        }
                    </script>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Cadastrar" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
