@model List<Prescricao>


<form asp-action="Listar" asp-controller="Medico" method="get">
    <fieldset>
        <legend>Buscar Prescricao</legend>
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <input class="form-control" name="nome" type="text" placeholder="ID da prescricao" />
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Buscar" />
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Prescrição</th>
                            <th>AtendimentoID</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Prescricao listaPrescricao in Model)
                        {
                            <tr>
                                <td>@listaPrescricao.ID</td>
                                <td>@listaPrescricao.TextoPrescricao</td>
                                <td>@listaPrescricao.AtendimentoID</td>
                                   
                                
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>
