@model List<Prescricao>



<html>
<head>
    <title>Lista de prescrições</title>

</head>
<body>
    <h2>Lista de prescrições</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Prescricao </th>
                <th>AtendimentoID</th>
                

            </tr>

        </thead>
        <tbody>
            @foreach (Prescricao listaprescricao in Model)
            {
            <tr>
                <td>@listaprescricao.ID</td>
                <td>@listaprescricao.TextoPrescricao</td>
                <td>@listaprescricao.AtendimentoID</td>

                

            </tr>
            }
        </tbody>
    </table>




</body>
</html>

